%div.white-back
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, autocomplete: "off" }) do |f|
    -# = f.error_notification
    - if resource.errors.any?
      %div.alert.alert-danger.errors= devise_error_messages!

    .form-inputs
      %div
      //= f.input :screen_name, required: true
      %div
        = "名前"
        = f.text_field :name, :class=>"default-input-field"

      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %p
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      - if resource.encrypted_password.present?
        %div
          = f.label :current_password
          %br/
          = f.password_field :current_password, autocomplete: "off", :class=>"default-input-field"
      %div
        = f.label "新しいパスワード"
        %br/
        %i (変更しない場合は空欄のまま保存してください)
        %br/
        = f.password_field :password, autocomplete: "off", :class=>"default-input-field"
      -# %div
      -#   = f.label :password_confirmation
      -#   %br/
      -#   = f.password_field :password_confirmation, autocomplete: "off"
      -# - if f.object.encrypted_password.present?
      -#   %div
      -#     = f.label :current_password
      -#     %i (we need your current password to confirm your changes)
      -#     %br/
      -#     = f.password_field :current_password, autocomplete: "off"
    %div.form-inputs
      = "プロフィール"
      = f.text_area :profile, :class=>"default-input-field default-input-textarea"

    %div.form-inputs
      = "Email"
      %div.tag-tooltip.email-tag-tooltip{:data => {:toggle=>"tooltip", :placement=>"top", :html=>"true", :title=>"<div class='email-tooltip'>Emailで通知を受け取るために<br>Emailを書いてください！</div>"}}
        - if resource[:provider].nil?
          = f.text_field :email, required: true, :class=>"default-input-field", :id=>"profile-email-input"
        - else
          = f.text_field :email, :class=>"default-input-field", :id=>"profile-email-input"

    %div.profile-checkbox.form-inputs
      = "Emailで通知を受け取る"
      %div.checkbox
        = f.check_box :is_email_notice, :id =>"profile-checkbox-input", :class=>"ios-toggle"
        = label "", "profile-checkbox-input", :class=>"checkbox-label"#, :data=>{:off=>"off" , :on=>"on"}


    .form-actions.form-actions-margin
      = f.button :submit, "設定を保存する", :class => "btn blue btn-base", :id =>"user-update-button"
  /
    <h3>Cancel my account</h3>

    <p>Unhappy? <haml_loud> link_to &quot;Cancel my account&quot;, registration_path(resource_name), data: { confirm: &quot;Are you sure?&quot; }, method: :delete </haml_loud></p>

    <haml_loud> link_to &quot;Back&quot;, :back </haml_loud>
