
%div.white-back.top-inputs
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    - if flash[:error].present?
      #error_explanation
        -# %h2= "#{pluralize(@answer.errors.count, "error")} prohibited this answer from being saved:"
        %ul.list-group
          - flash[:error].each do |message|
            %li.list-group-item.list-group-item-danger= message
    .form-inputs
      = f.text_field :email, required: true, placeholder: "Email", class: "login-input-field", id: "user-login-email-1"
      = f.password_field :password, autocomplete: "off", required: true, placeholder: "Password", class: "login-input-field", id: "user-login-password-1"
      -# = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
    .form-actions.form-actions-margin
      = f.button :submit, "メールアドレスで登録", class: "btn orange btn-base", id: "login-submit"
  %div.normal-link.mail-login-link= link_to "メールアドレスでログイン", new_user_session_path
