%div.white-back.top-inputs
  -# %div.twitter-login.form-actions-margin
  -#   = link_to "Twitterで登録/ログイン", user_twitter_omniauth_authorize_path, class: "btn blue btn-base"
  %h2 メンサ登録
  = simple_form_for(@user, as: "user", url: registration_path("user")) do |f|
    - if flash[:error].present?
      #error_explanation
        -# %h2= "#{pluralize(@answer.errors.count, "error")} prohibited this answer from being saved:"
        %ul.list-group
          - flash[:error].each do |message|
            %li.list-group-item.list-group-item-danger= message
    .form-inputs
      = f.text_field :name, required: true, placeholder: "User Name", class: "login-input-field"
      = f.text_field :email, required: true, placeholder: "Email", class: "login-input-field"
      = f.password_field :password, autocomplete: "off", required: true, placeholder: "Password", class: "login-input-field"
      -# = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
    .form-actions.form-actions-margin
      = f.button :submit, "登録", class: "btn orange btn-base"
