
= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  - if resource.errors.any?
    %div.alert.alert-danger.errors= devise_error_messages!

  .form-inputs
    = f.text_field :email, required: true, placeholder: "Email", class: "login-input-field", id: "input-email-field"
    = f.password_field :password, required: true, autocomplete: "off", placeholder: "Password", class: "login-input-field", id: "input-password-field"
    -# = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
  .form-actions.form-actions-margin
    = f.button :submit, "メールアドレスでログイン", class: "btn orange btn-base mtb", id:"login-submit"

%div.normal-link.forgot-password.mt2b
  = link_to "パスワードを忘れてしまった場合", new_password_path(resource_name)
